# build
build/
out/
cmake-build-*/

# cmake artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
.cache/

# nix / direnv
.direnv/
result
result-*

# editor
.vscode/
.idea/
*.swp
*.swo

# os
.DS_Store
Thumbs.db
.envrc
